
#__framer-editorbar-container {
    align-items: center;
    display: flex;
    gap: 8px;
    position: fixed;
    z-index: calc(2147483647);
    width: max-content;
    cursor: pointer;
}

#__framer-editorbar-label {
    background-color: #111;
    border-radius: 8px;
    font-family: var(--framer-fresco-sansSerif-font-family, "Inter Variable UI", Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, emoji, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
    font-size: var(--framer-fresco-base-font-size, 12px);
    height: fit-content;
    opacity: 0;
    padding: 4px 8px;
    transition: opacity 0.4s ease-out;
    font-weight: var(--framer-fresco-base-font-weight, 450);
    flex-shrink: 0;
    position: fixed;
    width: max-content;
    pointer-events: none;
    user-select: none;
}

#__framer-editorbar-button {
    all: unset;
    align-items: center;
    border-radius: 15px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    flex-shrink: 0;
}

#__framer-editorbar-label.__framer-editorbar-button-tooltip-visible {
    opacity: 1;
}

#__framer-editorbar-label, #__framer-editorbar-button {
    backdrop-filter: blur(10px);
    background-color: rgba(34, 34, 34, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
    color: #fff;
}
